* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

body,
.container {
  display: flex;
}

body {
  width: 100vw;
  height: 100vh;
  
  font-family: sans-serif;
  
  align-items: center;
  justify-content: center;
}

.container {
  flex-direction: column;
}

legend,
td {
  padding: 5px;
}

legend,
button {
  font-weight: 500;
}

legend,
td:last-child {
  text-align: center;
}

table,
td, 
button {
  border: 1px solid black;
}

table {
  border-bottom: 0;
}

table,
button {
  width: 250px;
  background: lightgrey;
}

tr:first-child {
  background: lightsalmon;
}

tr:nth-child(2) {
  background: lightgreen;
}

tr:nth-child(3) {
  background: lightblue;
}

tr:last-child {
  background: lightskyblue;
}

button {
  height: 40px;
  
  margin: 0 auto;
  border-top: 0;
  
  transition: .2s;
}

.first-btn {
  border-bottom: 1px dashed black;
}

button:last-child {
  border-radius: 0 0 10px 10px;
}

button:hover {
  text-shadow: 2px 2px 25px grey;
  color: rgba(0, 0, 0, .8);
}